html, body {
  	height: 99%;
}

.no-scroll {
	height: 100%;
	overflow: hidden;
}

body {
	background: rgb(16,15,31);
	background: linear-gradient(140deg, 
				rgba(16,15,31,1) 0%, 
				rgba(76,76,203,1) 30%, 
				rgba(0,212,255,1) 100%) no-repeat;
}

.compass {
	background-image: url(imgs/compass.jpg);
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(109,64,38); 
	animation: rotation 15s infinite linear;
}

@keyframes rotation {
    0% 		{transform:rotate(0deg);}
    20%		{transform: rotate(45deg);}
    40%		{transform: rotate(-10deg);}
    60%		{transform: rotate(90deg);}
    80%		{transform: rotate(180deg);}
    100% 	{transform:rotate(0deg);}   
}

.wave1 {
	background-image: url(imgs/wave1.png);
	height: 50%;
	width: 100%;
	top: 90%;
	left: 0%;
	position: absolute;
	animation: wave1-move 10s infinite linear;
}

.wave2 {
	background-image: url(imgs/wave2.png);
	height: 100%;
	width: 100%;
	top: 70%;
	left: 0%;
	position: absolute;
	animation: wave2-move 10s infinite linear;
}

.wave3 {
	background-image: url(imgs/wave3.png);
	height: 100%;
	width: 100%;
	left: 0%;
	position: absolute;
	animation: wave2-move 10s infinite linear;
}

@keyframes wave1-move {
	0% 	{
		left: -1%;
		top: 78%;
	}
    20%	{
    	left: 0%;
		top: 80%;
    }
    40%	{
    	left: 1%;
		top: 78%;
    }
    60%	{
    	left: 0%;
		top: 80%;
    }
    80%	{
    	left: -1%;
		top: 78%;
    }
    100% {
    	left: 0%;
		top: 80%;
    }
}

@keyframes wave2-move {
	0% 	{
		left: 1%;
		top: 70%;
	}
    20%	{
    	left: 0%;
		top: 68%;
    }
    40%	{
    	left: -1%;
		top: 70%;
    }
    60%	{
    	left: 0%;
		top: 68%;
    }
    80%	{
    	left: 1%;
		top: 70%;
    }
    100% {
    	left: 0%;
		top: 68%;
    }
}

.ship {
	background-image: url(imgs/ship.png);
	height: 470px;
	width: 440px;
	position: absolute;
	left: 1500px;
	top: 250px;
	animation: ship 35s infinite linear;
}

@keyframes ship {
	0% 		{left: 1500px;}
	15%		{transform: rotate(15deg); top: 250px;}
	30% 	{transform: rotate(-15deg); top: 330px;}
	60% 	{transform: rotate(10deg); top: 360px;}
	80% 	{transform: rotate(-10deg);}
	100% 	{left: -440px; top: 300px; transform: rotate(0deg);}
}

.sun {
	background: #FFCF48;
	box-shadow: 0 0 100px #FFB02E;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: absolute;
	left: 85%;
	top: 3%;
	animation: sunShine 35s infinite linear;

}

@keyframes sunShine {
	0%		{background: #FFB02E; box-shadow: 0 0 50px 	#FFB02E;}
	25%		{background: #FFCF48; box-shadow: 0 0 65px 	#FFCF48;}
	50%		{background: #FFEB48; box-shadow: 0 0 80px 	#FFEB48;}
	75%		{background: #FFEB48; box-shadow: 0 0 100px #FFEB48;}
	85% 	{background: #FFCF48; box-shadow: 0 0 80px	#FFCF48;}
	95%		{background: #FFCF48; box-shadow: 0 0 65px 	#FFCF48;}
	100%	{background: #FFB02E; box-shadow: 0 0 50px 	#FFB02E;}
}

.cloud1 {
	background-image: url(imgs/cloud1.png);
	height: 207px;
	width: 400px;
	position: absolute;
	left: 70%;
	top: 2%;
	animation: cloud3 90s infinite linear;
}

.cloud2 {
	background-image: url(imgs/cloud2.png);
	height: 161px;
	width: 300px;
	position: absolute;
	left: 70%;
	top: 4%;
	animation: cloud2 80s infinite linear;
}

.cloud3 {
	background-image: url(imgs/cloud3.png);
	height: 210px;
	width: 350px;
	position: absolute;
	left: 100%;
	top: 1%;
	animation: cloud1 60s infinite linear;
}

.cloud4 {
	background-image: url(imgs/cloud2.png);
	height: 161px;
	width: 300px;
	position: absolute;
	left: 40%;
	top: 10%;
	animation: cloud4 70s infinite linear;
}
.cloud5 {
	background-image: url(imgs/cloud1.png);
	height: 207px;
	width: 400px;
	position: absolute;
	left: 60%;
	top: 5%;
	animation: cloud5 60s infinite linear;
}

#ifHover:hover {
	display: none;
}

@keyframes cloud1 {
	0% 		{left: 100%; transform: rotate(3deg);}
	50%		{transform: rotate(0deg);}
	100% 	{left: 0%; transform: rotate(-3deg);}
}

@keyframes cloud2 {
	0% 		{left: 100%; transform: rotate(3deg);}
	50%		{transform: rotate(0deg);}
	100% 	{left: 0%; transform: rotate(-3deg);}
}

@keyframes cloud3 {
	0% 		{left: 80%; transform: rotate(3deg);}
	50%		{transform: rotate(0deg);}
	100% 	{left: 0%; transform: rotate(-3deg);}
}

@keyframes cloud4 {
	0% 		{left: 40%; transform: rotate(3deg);}
	50%		{transform: rotate(0deg);}
	100% 	{left: 0%; transform: rotate(-3deg);}
}

@keyframes cloud5 {
	0% 		{left: 60%; transform: rotate(3deg);}
	50%		{transform: rotate(0deg);}
	100% 	{left: 0%; transform: rotate(-3deg);}
}

.bird {
	background-image: url(imgs/bird1.png);
	height: 81px;
	width: 100px;
	position: absolute;
	top: 40%;
	left:-20px;
	animation: fly 40s infinite linear;
}

@keyframes fly {
	0% {
		top: 40%;
	}
	20% {
		transform: rotate(-3deg);
		top: 30%;
	}
	40% {
		transform: rotate(5deg);
		top: 60%;
	}
	60% {
		transform: rotate(45deg);
		top: 40%;
	}
	80% {
		transform: rotate(0deg);
		top: 20%;
	}
	100% {
		left: 2000px;
		top: 5%;
	}
}
