html { 
 position:relative; 
 min-height:100%;
 height: 100%;
 
}

body{
   font-family: 'Oswald', sans-serif;
   background: url(../image/backlogo.png) no-repeat;
   background-size: 100%;
   -moz-background-size: 100%; /* Firefox 3.6+ */
   -o-background-size: 100%; /* Opera 9.6+ */ 
   height: 100%;
}
.logo{
   
   width: 100%;
   display: flex;
   justify-content: center;
  
}
.graficlogo{
   padding: 5px;
   max-width: 100%;
   box-sizing: border-box;
}

nav{
   margin: auto;
   height: 100%;

}

.topnav{
   background-color: #5B5B80
   font-size: 14px;

   text-align: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.topnav a{
   text-align: center;
   line-height:1em;
   padding: 14px 40px;
   font-size: 25px;
   display: flex;
   max-width: 100%;
   box-sizing: border-box;
   color: #000000;
   transition: box-shadow 1s ease, color 1s
}

.topnav a:hover{
   box-shadow: inset 0 -3em #000000;
   color: #FFFFFF;
}

.topnav .icon{
   display: none;
}

a{
   text-decoration: none;
   color: #000;
}

.text-top {margin-top: 50px}


footer{
   width: 100%;
   height: auto
   margin: 0 auto;
   text-align: center;
   padding-top: 25px;
   position: absolute;
   bottom: 0;
   background: linear-gradient( #FFFFFF, #51A3DA);
}


footer a{
   color: black;
   font-size: 12px;
   margin-left: 10px;
}

footer nav a:hover{
   border-bottom: 2px solid black;
   
   
}

.social img{
    margin-left: 10px;
    margin-botton: 10px;
    margin-top: 10px;
}

.social img:hover{
    background: #494949;
    border-radius: 50%;
}
.contpre small{font-size:25px;}
 
.contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}
 

html, body, div, span, h1, h2, p, a, img, strong, ul, li, button, footer, header {margin: 0; padding: 0; border: 0; }
*, :after, :before {-webkit-box-sizing: border-box; }
a, button, div {outline: none;}
ul {list-style: none; display: block;}
img {border: none;}


/*html, body, .wrap {height: 100%; margin-bottom: 100px}*/
.wrap { height: 100%; margin-bottom: 100px width: 1024px; margin: 0 auto;  padding: 20px 0;}

.ship, .icon-field, .btn-play {background: url('images/sprite.png') no-repeat;}


body { line-height: 24px; color: #4530af;}
p {margin-bottom: 10px;}

/* buttons */
.btn-play {width: 144px; height: 45px; display: block; font-size: 24px; line-height: 40px; text-align: center; margin: 0 auto; background-position: 0 -150px; cursor: pointer;}

/* left, right, position, clearfix */
.text-center {text-align: center;}
.clearfix:before, .clearfix:after {display:table; content:'';}
.clearfix:after {clear:both;}

/* display */
[data-hidden="true"] {display:none;}
[data-hidden="false"], .block {display:block;}

/*** CONTENT ***/

.battlefield {width: 860px; height: 530px; position: relative; margin: 0 auto; background: url('images/grid.png') repeat;}
.text-top {height: 66px; font-size: 22px; line-height: 66px; text-align: center; margin-bottom: 7px;}
.text-btm {color: #c00; text-align: center; padding-top: 10px;}

.outer {margin-bottom: 21px;}
.field {width: 366px; height: 363px; position: relative; background: url('images/bg_play_field.png') no-repeat;}
.field-user {float: left; margin-left: 38px;}
.field-comp{float: right; margin-right: 26px;}

.ships {width: 330px; height: 330px; position: relative; left: 29px; top: 27px;}
.ship {height: 35px; position: absolute;}
.vertical {transform: rotate(90deg); transform-origin: 17.5px 17.5px;}

.fourdeck {width: 134px; background-position: 0 0;}
.fourdeck.success {background-position: 0 -50px;}
.fourdeck.unsuccess {background-position: 0 -100px;}
.tripledeck {width: 101px; background-position: -150px 0;}
.tripledeck.success {background-position: -150px -50px;}
.tripledeck.unsuccess {background-position: -150px -100px;}
.doubledeck {width: 68px; background-position: -270px 0;}
.doubledeck.success {background-position: -270px -50px;}
.doubledeck.unsuccess {background-position: -270px -100px;}
.singledeck {width: 35px; background-position: -360px 0;}
.singledeck.success {background-position: -360px -50px;}
.singledeck.unsuccess {background-position: -360px -100px;}

.instruction {margin-left: 430px; -webkit-user-select: none; user-select: none;}
.type-placement-box {line-height: 34px; padding-bottom: 18px;}
	.type-placement-box .link {font-size: 20px; cursor: pointer;}

.initial-ships li {height: 35px; position: relative; overflow: hidden; margin-top: 31px;}
.initial-ships .ship {left: 0; top: 0; float: left; cursor: move;}
.initial-ships .tripledeck1 {left: 164px;}
.initial-ships .tripledeck2 {left: 297px;}
.initial-ships .doubledeck2 {left: 99px;}
.initial-ships .doubledeck3 {left: 197px;}
.initial-ships .singledeck2 {left: 65px;}
.initial-ships .singledeck3 {left: 131px;}
.initial-ships .singledeck4 {left: 197px;}

.icon-field {width: 33px; height: 33px; position: absolute; z-index: 5;}
.dot {background-position: -410px 0;}
.red-cross {background-position: -410px -50px;}
.shaded-cell {background-position: -410px -100px;}

.main{
    margin-bottom: 500px;
}
